/target/
node_modules/
target/typeweld/

/npm/typeweld/dist/
/npm/typeweld/bin/
/npm/vscode-extension/dist/
/npm/vscode-extension/bin/
/npm/vscode-extension/typescript-plugin/dist/
*.vsix

.DS_Store
*.log
